<configuration>
	<if condition='property("log_json").contains("true")'>
		<then>
			<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
				<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
			</appender>
			<logger name="jsonLogger" additivity="false" level="DEBUG">
				<appender-ref ref="consoleAppender" />
			</logger>
			<root level="INFO">
				<appender-ref ref="consoleAppender" />
			</root>
		</then>
		<else>
		    <include resource="org/springframework/boot/logging/logback/base.xml"/>
		</else>
	</if>
</configuration>
