<div class="box box-{{data.box}} box-solid" bs-loading-overlay bs-loading-overlay-reference-id="{{referenceId}}">
	<div class="box-header with-border">
		{{data.title | translate}}
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" ng-click="resetPassword()" lit-if-permission="PLAYER_PASSWORD_RESET" lit-permission-domain="{{user.domain.name}}">
				<span><i class="fa fa-gear"></i> {{ "GLOBAL.ACTION.RESET" | translate }} </span>
			</button>
			<button type="button" ng-if="!data.profile" class="btn btn-box-tool" ng-click="changePassword()" lit-if-permission="PLAYER_PASSWD" lit-permission-domain="{{user.domain.name}}">
				<span><i class="fa fa-gear"></i> {{ "GLOBAL.ACTION.CHANGE" | translate }} </span>
			</button>
			<button type="button" ng-if="data.profile" class="btn btn-box-tool" ng-click="changePassword()">
				<span><i class="fa fa-gear"></i> {{ "GLOBAL.ACTION.CHANGE" | translate }} </span>
			</button>
		</div>
	</div>
	<div class="box-body table-responsive">
		<table class="table table-bordered">
		<tr>
			<th width="40%">Last Updated</th>
			<td ng-if="user.passwordUpdated">{{ user.passwordUpdated | datetimedefault }}</td>
			<td ng-if="!user.passwordUpdated">Never</td>
		</tr><tr>
			<th width="40%">Updated By</th>
			<td ng-if="user.passwordUpdatedBy">{{ user.passwordUpdatedBy }}</td>
			<td ng-if="!user.passwordUpdatedBy">N/A</td>
		</tr>
		</table>
	</div>
</div>