<div class="container-fluid">
	<lit-header
		title="{{ 'UI_NETWORK_ADMIN.SIGNUPEVENTS.LIST.TITLE' | translate }}"
		description="{{ 'UI_NETWORK_ADMIN.SIGNUPEVENTS.LIST.DESCRIPTION' | translate }}">
	</lit-header>
	
	<div class="row v-reset-row ">
		<div class="col-lg-12">
			<div class="pull-right">
				<div  id="vueMountDomainSelect"></div>
			</div>
		</div>
	</div>
	
	<br/>

	<div class="row v-reset-row ">
		<div class="col-xs-12">
			<div class="card card-block">
				<div class="" style="margin-bottom: 10px;">
					<div uib-collapse="controller.legendCollapsed">
						<div class="row v-reset-row ">
							<formly-form model="controller.model" fields="controller.fields" form="controller.form" options="controller.options">
							</formly-form>
							<div class="col-md-3 col-xs-12">
								<label>{{'UI_NETWORK_ADMIN.SIGNUPEVENTS.FILTERS.USER.LABEL' | translate}}</label>
								<div class="input-group">
									<input type="text"
										   ng-model="controller.selectedUser"
										   placeholder="{{'UI_NETWORK_ADMIN.SIGNUPEVENTS.FILTERS.USER.PLACEHOLDER' | translate}}"
										   uib-typeahead="user.username for user in controller.searchUsers($viewValue)"
										   typeahead-loading="loadingUserLocations"
										   typeahead-no-results="noUserResults"
										   typeahead-min-length="2"
										   typeahead-show-hint="true"
										   typeahead-wait-ms="500"
										   typeahead-editable="false"
										   typeahead-on-select="controller.selectedUser = $item;"
										   class="form-control"/>
									<div class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="controller.resetUserSearch()"><i class="fa fa-remove"></i></button>
									</div>
								</div>
								<div ng-show="loadingUserLocations" class="overlay">
									<i class="fa fa-refresh fa-spin"></i>
								</div>
								<div ng-show="noUserResults" class="form-group has-error">
									<span class="help-block"><i class="fa fa-remove"></i>&nbsp;{{'UI_NETWORK_ADMIN.SIGNUPEVENTS.FILTERS.USER.NO_RESULTS' | translate}}</span>
								</div>
							</div>
						</div>
						<div class="row  v-reset-row">
							<div class="col-md-3 col-xs-12">
								<label>{{'UI_NETWORK_ADMIN.SIGNUPEVENTS.FILTERS.EMAIL.LABEL' | translate}}</label>
								<div class="input-group">
									<input type="text"
										   ng-model="controller.selectedEmail"
										   placeholder="{{'UI_NETWORK_ADMIN.SIGNUPEVENTS.FILTERS.EMAIL.PLACEHOLDER' | translate}}"
										   uib-typeahead="user.email for user in controller.searchUsers($viewValue)"
										   typeahead-loading="loadingEmailLocations"
										   typeahead-no-results="noEmailResults"
										   typeahead-min-length="2"
										   typeahead-show-hint="true"
										   typeahead-wait-ms="500"
										   typeahead-editable="false"
										   typeahead-on-select="controller.selectedEmail = $item;"
										   class="form-control"/>
									<div class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="controller.resetEmailSearch()"><i class="fa fa-remove"></i></button>
									</div>
								</div>
								<div ng-show="loadingEmailLocations" class="overlay">
									<i class="fa fa-refresh fa-spin"></i>
								</div>
								<div ng-show="noEmailResults" class="form-group has-error">
									<span class="help-block"><i class="fa fa-remove"></i>&nbsp;{{'UI_NETWORK_ADMIN.SIGNUPEVENTS.FILTERS.EMAIL.NO_RESULTS' | translate}}</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="flex-row pull-right">
								<button-clear ng-click="controller.resetFilter(true)"></button-clear>
								<button-filter ng-click="controller.applyFilter(true)"></button-filter>
							</div>
						</div>
					</div>
					<div class="collapse" uib-collapse="!controller.legendCollapsed">
						<div align="center">
							<button-filter class="pull-left" ng-click="controller.toggleLegendCollapse()"></button-filter>
							<button-refresh class="pull-right" ng-click="controller.applyFilter(false)"></button-refresh>
							<button-clear class="pull-right" ng-click="controller.resetFilter(false)"></button-clear>
						</div>
					</div>
				</div>
				<dt class="no-padding table-responsive" table="controller.table"/>
			</div>
		</div>
	</div>
</div>