<div class="container-fluid">
	<div class="box box-primary box-widget">
		<div class="box-body box-profile">
			<div class="user-block">
				<h4 style="font-weight: bold;">
					Result Simulation ({{controller.resultSimulation.id}})
				</h4>
			</div>
		</div>
	</div>
	
	<buttonbar>
		<button-back ui-sref="dashboard.gogamegames.resultsimulations"></button-back>
		<button-refresh ng-click="controller.refresh()"></button-refresh>
		<button-download-excel ng-if="controller.resultSimulation.processingCompleted !== null" ng-click="controller.downloadxls()"></button-download-excel>
	</buttonbar>
	
	<br/><br/>
	
	<div ng-if="controller.resultSimulation.processing" class="panel box box-warning">
		<div class="box-header with-border">
			<h4 class="box-title">Result simulation is currently processing. Check back in a few minutes.</h4>
		</div>
	</div>
	
	<div ng-if="controller.resultSimulation.processing === false && controller.resultBatch.processingCompleted === null" class="panel box box-info">
		<div class="box-header with-border">
			<h4 class="box-title">Result simulation processing will begin shortly.</h4>
		</div>
	</div>
	
	<div ng-if="controller.resultSimulation.resultBatchAnalysis !== null">
		<div class="row v-reset-row ">
			<div class="col-xs-12">
				<div class="info-box bg-aqua">
					<span class="info-box-icon"><i class="fa fa-spinner"></i></span>
					
					<div class="info-box-content">
						<span class="info-box-text">RESULT SIMULATION PROCESSING</span>
						<span class="info-box-number">{{controller.resultSimulation.numCompleted/controller.resultSimulation.quantity*100|number:2}}%</span>
						<div class="progress">
	 						<div class="progress-bar" style="width: {{controller.resultSimulation.numCompleted/controller.resultSimulation.quantity*100}}%"></div>
						</div>
						<span class="progress-description">
							{{controller.resultSimulation.numCompleted}} of {{controller.resultSimulation.quantity}}
						</span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row v-reset-row ">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-red" style="width: 112px; height: 112px; line-height: 112px;"><i class="fa fa-dollar"></i></span>
					<div class="info-box-content" style="margin-left: 112px;">
						<span class="info-box-text">Play</span> 
						<span class="info-box-number">{{controller.resultSimulation.resultBatchAnalysis.totalPlayCents|cents}}</span>
					</div>
					<div class="info-box-content" style="margin-left: 112px;">
						<span class="info-box-text">Win</span> 
						<span class="info-box-number">{{controller.resultSimulation.resultBatchAnalysis.winCents|cents}}</span>
					</div>
				</div>
			</div>
	
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-green" style="width: 112px; height: 112px; line-height: 112px;"><i class="fa fa-gamepad"></i></span>
					<div class="info-box-content" style="margin-left: 112px;">
						<span class="info-box-text">Spins</span>
						<span class="info-box-number">{{controller.resultSimulation.quantity}}</span>
					</div>
					<div class="info-box-content" style="margin-left: 112px;">
						<span class="info-box-text">Wins</span>
						<span class="info-box-number">{{controller.resultSimulation.resultBatchAnalysis.wins}}</span>
					</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-yellow" style="width: 112px; height: 112px; line-height: 112px;"><i class="fa fa-repeat"></i></span>
					
					<div class="info-box-content" style="margin-left: 112px;">
						<span class="info-box-text">Respins</span>
						<span class="info-box-number">{{controller.resultSimulation.resultBatchAnalysis.respins}}</span>
					</div>
					<div class="info-box-content" style="margin-left: 112px;">
						<span class="info-box-text">Wins</span>
						<span class="info-box-number">{{controller.resultSimulation.resultBatchAnalysis.respinWins}}</span>
					</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-aqua" style="width: 112px; height: 112px; line-height: 112px;">
						<i class="fa fa-play"></i>
					</span>
					<div class="info-box-content" style="margin-left: 112px;">
						<span class="info-box-text">Freespins</span>
						<span class="info-box-number">{{controller.resultSimulation.resultBatchAnalysis.freespins}}</span>
					</div>
					<div class="info-box-content" style="margin-left: 112px;">
						<span class="info-box-text">Wins</span>
						<span class="info-box-number">{{controller.resultSimulation.resultBatchAnalysis.fsWins}}</span>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-purple" style="width: 112px; height: 112px; line-height: 112px;">
						<i class="fa fa-gift"></i>
					</span>
					<div class="info-box-content" style="margin-left: 112px;">
						<span class="info-box-text">Bonuses</span>
						<span class="info-box-number">{{controller.resultSimulation.resultBatchAnalysis.bonuses}}</span>
					</div>
					<div class="info-box-content" style="margin-left: 112px;">
						<span class="info-box-text">Win</span>
						<span class="info-box-number">{{controller.resultSimulation.resultBatchAnalysis.bonusWinCents|cents}}</span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row v-reset-row ">
			<div class="col-xs-12">
				<div class="info-box" ng-class="{'bg-red': controller.resultSimulation.resultBatchAnalysis.rtpPercentage > 100, 'bg-green': controller.resultSimulation.resultBatchAnalysis.rtpPercentage < 100}">
					<span class="info-box-icon"><i class="fa fa-info-circle"></i></span>
					
					<div class="info-box-content">
						<span class="info-box-text">RTP</span>
						<span class="info-box-number">{{controller.resultSimulation.resultBatchAnalysis.rtpPercentage}}%</span>
						<div class="progress">
	 						<div class="progress-bar" style="width: {{controller.resultSimulation.resultBatchAnalysis.rtpPercentage}}%"></div>
						</div>
						<span class="progress-description">
							{{controller.resultSimulation.resultBatchAnalysis.winCents|cents}} of {{controller.resultSimulation.resultBatchAnalysis.totalPlayCents|cents}}
						</span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row v-reset-row " ng-if="controller.resultSimulation.resultBatchAnalysis.freespins > 0 || controller.resultSimulation.resultBatchAnalysis.bonuses > 0">
			<div class="col-xs-12">
				<div class="info-box" ng-class="{'bg-red': controller.resultSimulation.resultBatchAnalysis.baseRtpPercentage > 100, 'bg-green': controller.resultSimulation.resultBatchAnalysis.baseRtpPercentage < 100}">
					<span class="info-box-icon"><i class="fa fa-info-circle"></i></span>
					
					<div class="info-box-content">
						<span class="info-box-text">BASE RTP</span>
						<span class="info-box-number">{{controller.resultSimulation.resultBatchAnalysis.baseRtpPercentage}}%</span>
						<div class="progress">
	 						<div class="progress-bar" style="width: {{controller.resultSimulation.resultBatchAnalysis.baseRtpPercentage}}%"></div>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="controller.resultSimulation.resultBatchAnalysis.freespins > 0" class="col-xs-12">
				<div class="info-box" ng-class="{'bg-red': controller.resultSimulation.resultBatchAnalysis.freespinRtpPercentage > 100, 'bg-green': controller.resultSimulation.resultBatchAnalysis.freespinRtpPercentage < 100}">
					<span class="info-box-icon"><i class="fa fa-info-circle"></i></span>
					
					<div class="info-box-content">
						<span class="info-box-text">FREESPIN RTP</span>
						<span class="info-box-number">{{controller.resultSimulation.resultBatchAnalysis.freespinRtpPercentage}}%</span>
						<div class="progress">
	 						<div class="progress-bar" style="width: {{controller.resultSimulation.resultBatchAnalysis.freespinRtpPercentage}}%"></div>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="controller.resultSimulation.resultBatchAnalysis.bonuses > 0" class="col-xs-12">
				<div class="info-box" ng-class="{'bg-red': controller.resultSimulation.resultBatchAnalysis.bonusRtpPercentage > 100, 'bg-green': controller.resultSimulation.resultBatchAnalysis.bonusRtpPercentage < 100}">
					<span class="info-box-icon"><i class="fa fa-info-circle"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">BONUS RTP</span>
						<span class="info-box-number">{{controller.resultSimulation.resultBatchAnalysis.bonusRtpPercentage}}%</span>
						<div class="progress">
							<div class="progress-bar" style="width: {{controller.resultSimulation.resultBatchAnalysis.bonusRtpPercentage}}%"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	<!-- 	<pre>{{controller.resultSimulation|json}}</pre> -->
	</div>
</div>