@import "../../../../../styles/_var";

:host {
  position: absolute;
  top: 0;
  left: 0;
  min-height: calc(100vh - 2px);
  min-width: calc(100vw - 2px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  background: white;
  margin: 20px;
  // width: calc(100vw - 40px);
  // max-width: $xs;

  max-width: $xs;
//  width: $xs;

  .login-header {
    background: $background-color__sidenav-list;
    padding: 24px;
  }

  .login-content {
    padding: 24px 42px 42px;

    .error-card {
      background-color: mat-color($warn, 100, 0.2);

      .error-icon {
        padding-right: 12px;
      }
    }

    md-input-container {
      width: 100%;
      margin: 6px 0;
    }

    .extra-options {
      margin: 16px 0 32px;

      .remember-me {
        color: #777;
      }
    }

    a {
      text-decoration: none;
      color: #2196F3;

      &:hover {
        text-decoration: underline;
      }
    }

    .note {
      color: #777;
      margin: 24px 0 0;
      text-align: center;
    }
  }
}
