<div class="col-md-12">
	<div class="box box-default box-solid">
		<div class="box-header with-border">
			{{ 'UI_NETWORK_ADMIN.BONUS.EDIT.TABS.GAME_CATEGORIES' | translate }}
		</div>
		<div class="box-body table-responsive">
			<div class="well">
				<span>{{ 'UI_NETWORK_ADMIN.BONUS.EDIT.GAME_CATEGORIES.EXPLAIN' | translate }}</span>
			</div>
			<ul class="todo-list ui-sortable">
				<li ng-repeat="g in controller.model.gameCategories | orderBy: '-casinoCategory'">
					<div class="row v-reset-row ">
						<div class="col-md-4">
							<div class="user-block">
								<h4 style="font-weight: bold;" class="text-light-blue">{{g.displayName}}</h4>
							</div>
							<span class="description">
								<b>Percentage: </b>
								<input ng-model="g.percentage" type="text" value="" ui-number-mask="false" min="0" max="100" ui-hide-group-sep>
							</span>
						</div>
						<div class="col-md-8">
							<uib-progressbar class="progress-striped active" max="100" value="g.percentage" type="info"><i>{{g.percentage}} / 100</i></uib-progressbar>
							<small ng-if="g.percentage > 0"><em>{{ 'UI_NETWORK_ADMIN.BONUS.EDIT.GAME_CATEGORIES.PROGRESSBAR' | translate:{percentage:g.percentage, category:g.displayName } | lowercase }}</em></small>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>