<div class="col-md-12">
	<div class="box box-default box-solid">
		<div class="box-header with-border">
			{{ 'UI_NETWORK_ADMIN.BONUS.EDIT.TABS.UNLOCKGAME' | translate }}
		</div>
		<div class="box-body table-responsive">
			<ul class="todo-list ui-sortable">
				<li ng-if="controller.model.unlockGames.games.length === 0">
					<span class="description">
						No games selected to unlock yet. Please select the provider and games from the list below, which should be unlocked when bonus is activated.
					</span>
				</li>
				<li ng-repeat="g in controller.model.unlockGames.games">
					<img width="40px" class="img-circle img-bordered-sm" src="//:0" ng-src="{{controller.imageUrl}}gameguid={{g.gameInfo.guid}}&function=thumb"alt="">
					<div class="tools">
						<i class="fa fa-trash-o" ng-click="controller.removeUnlockGame(g.id, $index)"></i>
					</div>
					<a ng-href="{{controller.demoUrl}}gameguid={{g.gameInfo.guid}}&lang=en" target="_blank">{{ g.gameInfo.name }}</a><br/>
					<span class="description">
						<b>Platform: </b>{{(g.gameInfo.labels.os.value || {})}}
					</span><br/>
					<span class="description">
						<b>Provider: </b>{{g.gameInfo.providerGuid.replace("service-casino-provider-","")}}
					</span><br/>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="col-md-12">
	<div>
		<form name="gameProviderForm">
			<label for="repeatSelect">{{'UI_NETWORK_ADMIN.BONUS.EDIT.UNLOCKGAME.SELECTPROVIDER' | translate}}</label> 
			<select
				id="repeatSelect"
				name="repeatSelect"
				class="ui-select-container ui-select-bootstrap dropdown"
				style="border-style: solid;"
				ng-model="controller.model.selectedunlockgameprovider"
				ng-change="controller.changeUnlockGameProvider()">
				<option value="">{{'UI_NETWORK_ADMIN.BONUS.EDIT.UNLOCKGAME.SELECTPROVIDEROPTION' | translate}}</option>
				<option ng-repeat="option in controller.providers"
					value="{{option}}" ng-selected="{{controller.model.unlockGames.provider == 'service-casino-provider-'+option}}">{{option}}</option>
			</select>
		</form>
	</div>
	<div class="box box-default box-solid">
		<div class="box-header with-border">{{'UI_NETWORK_ADMIN.BONUS.EDIT.UNLOCKGAME.AVAILABLE' | translate}}</div>
		<div class="box-body">
			<p>{{'UI_NETWORK_ADMIN.BONUS.EDIT.UNLOCKGAME.INSTRUCTIONS1' | translate}}</p>
			<dt ng-if="!controller.gamesLoading" table="controller.availableUnlockGamesTable"/>
		</div>
	</div>
<!-- 	<div> -->
<!-- 	<pre> -->
<!-- 		{{controller.model | json}} -->
<!-- 	</pre> -->
<!-- 	</div> -->
</div>
