<div class="modal-content">
    <div class="modal-header primary-blue darken-4 white-text">
        <h3 class="modal-title" id="modal-title">
            <i class="fa fa-pencil"></i>
            <span>Reset Your Password</span>
            <button-close-window ng-click="controller.cancel()"></button-close-window>
        </h3>
    </div>

    <form ng-submit="controller.resetPasswordPt2()" name="controller.form" autocomplete="off" novalidate>
        <div class="modal-body" id="modal-body">
            <div class="row v-reset-row ">
                <div class="col-xs-12">
                    <table class="table table-hover table-striped nowrap" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Token</th>
                            <th>New Password</th>
                            <th>Confirm Password</th>
                        </tr>
                        </thead>
                        <tbody>
                        &nbsp;<span style="font-family: Source Sans Pro; font-size: inherit">Enter the token sent to you via email and your new Password</span>
                        <hr>
                        <tr>
                            <td><input autocomplete="false"  type="text" ng-model="controller.token" class="form-control"/></td>
                            <td><input autocomplete="false"  type="password" ng-model="controller.password" class="form-control"/></td>
                            <td><input type="password" ng-model="controller.confirmPassword" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> &nbsp;<span  ng-show="controller.password != controller.confirmPassword" style="background-color: #ff7373; color: white">Passwords do not Match</span>
                                &nbsp; <span  ng-show="controller.password == controller.confirmPassword" style="background-color: #cdfadd; color: black; ">Passwords Match</span></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <buttonbar>
                <button-submit ng-disabled="true" class="pull-left"></button-submit>
                <button-cancel ng-click="controller.cancel()"></button-cancel>
            </buttonbar>
        </div>
    </form>

</div>
