<form ng-submit="controller.onSubmit()" name="controller.form" novalidate>
<div class="container-fluid">
	<button-bar>
		<button-back ui-sref="^.list"></button-back>
	</button-bar>
	<div class="row v-reset-row ">
		<div class="col-xs-6">
			<div class="box box-default box-solid">
				<div class="box-header with-border">
					{{"UI_NETWORK_ADMIN.DOMAIN.CURRENCY.VIEW.BOXES.CURRENCY"|translate}}
					<div class="box-tools pull-right">
						<span class="label label-success" ng-if="controller.model.currency.real">REAL</span>
						<span class="label label-primary" ng-if="!controller.model.currency.real">VIRTUAL</span>
						<button type="button" ng-click="controller.onEdit()" ng-if="controller.model.currency.real === false" ng-show="controller.options.formState.readOnly" class="btn btn-box-tool">
							<span><i class="fa fa-pencil"></i> Edit</span>
						</button>
						<button type="button" ng-if="!controller.model.isDefault" class="btn btn-box-tool" ng-click="controller.setAsDefault()">
							<span><i class="fa fa-user"></i> {{"UI_NETWORK_ADMIN.DOMAIN.AVATARS.VIEW.ACTIONS.SETASDEFAULT"|translate}}</span>
						</button>
						<button type="button" class="btn btn-box-tool" ng-if="controller.model.currency.real === false" ng-click="controller.deleteDomainCurrency()">
							<span><i class="fa fa-trash"></i> {{"GLOBAL.ACTION.DELETE"|translate}}</span>
						</button>
					</div>
				</div>
				<div class="box-body table-responsive">
						<formly-form model="controller.model" fields="controller.fields" form="controller.form" options="controller.options">
						</formly-form>
						
						<button-submit ng-show="!controller.options.formState.readOnly"></button-submit>
						<button-cancel ng-show="!controller.options.formState.readOnly" ng-click="controller.onCancel()"></button-cancel>
				</div>
			</div>
		</div>
	</div>
<!-- 	<pre>{{controller.model|json}}</pre> -->
</div>
</form>