<div class="container-fluid">
    <div class="card card-block" style="margin-bottom: 10px;" ng-init="">
        <div class="d-flex justify-content-start">
            <div class="p-2 mr-auto">
                <span class="title">{{'UI_NETWORK_ADMIN.RESTRICTIONS.VIEW.TITLE'|translate}}</span>
                <span class="description">({{controller.set.id}} - {{controller.set.name}})</span> <br/>
                <span ng-if="controller.set.systemRestriction" class="label label-warning">SYSTEM</span>
                <span class="label" ng-class="{'label-success': controller.set.enabled === true, 'label-danger': controller.set.enabled === false }">{{(controller.set.enabled) ? 'ENABLED' : 'DISABLED'}}</span>
            </div>
        </div>
    </div>
    <br/>
    <buttonbar>
        <button-back ui-sref="^.list"></button-back>
        <button-edit ng-if="!controller.set.systemRestriction" lit-if-permission="RESTRICTIONS_EDIT" lit-permission-domain="{{controller.set.domain.name}}" ui-sref="dashboard.restrictions.dictionary.edit({id: controller.set.id})"></button-edit>
    </buttonbar>
    <br/><br/>
    <div class="row v-reset-row ">
        <div class="col-xs-12">
            <div class="card card-block">
                <div class="well-clear">
                    <div class="col-xs-12 table-responsive">
                        <table class="table table-hover nowrap" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <th style="width: 25%;">{{'UI_NETWORK_ADMIN.RESTRICTIONS.FIELDS.NAME.NAME'|translate}}</th>
                                <td>{{controller.set.name}}</td>
                            </tr><tr>
                                <th>{{'UI_NETWORK_ADMIN.RESTRICTIONS.FIELDS.DOMAIN.NAME'|translate}}</th>
                                <td>{{controller.set.domain.name}}</td>
                            </tr><tr>
                                <th>{{'UI_NETWORK_ADMIN.RESTRICTIONS.FIELDS.ENABLED.NAME'|translate}}</th>
                                <td>{{controller.set.enabled}}</td>
                            </tr><tr>
                                <th>{{'Error Message'|translate}}&nbsp;
                                    <button type="button" ng-click="controller.editTranslation()">
                                    <span><i class="fa fa-pencil-square-o"></i></span>
                                    </button>
                                </th>
                                <td>{{controller.set.errorMessage ? controller.set.errorMessage : 'UI_NETWORK_ADMIN.ERROR_DICTIONARY.RESTRICTION.DEFAULT_ERROR_MESSAGE' | translate}}</td>
                            </tr>

                            <tr ng-if="controller.canEditAltMessageCount()">
                                <th>
                                    {{ 'UI_NETWORK_ADMIN.ERROR_DICTIONARY.RESTRICTION.ALT_MESSAGE.LABELS.ALT_MESSAGE_COUNT' |translate }} &nbsp;
                                    <button ng-click="controller.editAltMessage()">
                                    <span><i class="fa fa-pencil-square-o"></i></span>
                                    </button>
                                </th>
                                <td>{{controller.set.altMessageCount}}</td>
                            </tr>
                            <tr>
                                <th>{{'UI_NETWORK_ADMIN.RESTRICTIONS.FIELDS.DWH_VISIBLE.NAME'|translate}}</th>
                                <td>{{controller.set.dwhVisible}}</td>
                                <td><checkbox class="btn" ng-change="controller.toggleDwhVisibility()" ng-model="controller.set.dwhVisible"></checkbox></td>
                            </tr>
                            <tr>
                                <th>{{'UI_NETWORK_ADMIN.RESTRICTIONS.FIELDS.COMMUNICATE_TO_PLAYER.NAME'|translate}}</th>
                                <td>{{controller.set.communicateToPlayer}}</td>&nbsp;&nbsp;
                                <td><checkbox class="btn" ng-change="controller.toggleCommunicateToPlayer()" ng-model="controller.set.communicateToPlayer"></checkbox></td>
                            </tr>
                            <tr>
	                            <th>{{'UI_NETWORK_ADMIN.RESTRICTIONS.FIELDS.PLACE_MAIL_TEMPLATE.NAME'|translate}}
		                            <button type="button" ng-click="controller.editPlaceMailTemplate()">
			                            <span><i class="fa fa-pencil-square-o"></i></span>
		                            </button>
	                            </th>
	                            <td>{{controller.set.placeMailTemplate}}</td>&nbsp;&nbsp;
                            </tr>
                            <tr>
	                            <th>{{'UI_NETWORK_ADMIN.RESTRICTIONS.FIELDS.LIFT_MAIL_TEMPLATE.NAME'|translate}}
		                            <button type="button" ng-click="controller.editLiftMailTemplate()">
			                            <span><i class="fa fa-pencil-square-o"></i></span>
		                            </button>
	                            </th>
	                            <td>{{controller.set.liftMailTemplate}}</td>&nbsp;&nbsp;
                            </tr>
                            <tr>
                                <th>{{'UI_NETWORK_ADMIN.RESTRICTIONS.FIELDS.PLACE_OUTCOME_ACTIONS.NAME'|translate}}</th>
                                     <button type="button" ng-click="controller.editPlaceOutcomeActions()">
                                         <span><i class="fa fa-pencil-square-o"></i></span>
                                     </button>
                                </th>
                                <td>{{controller.getActionCode(controller.set.placeActions)}}</td>&nbsp;&nbsp;
                            </tr>
                            <tr>
	                            <th>{{'UI_NETWORK_ADMIN.RESTRICTIONS.FIELDS.LIFT_OUTCOME_ACTIONS.NAME'|translate}}</th>
<!--		                            <button type="button" ng-click="controller.editLiftOutcomeActions()">-->
<!--			                            <span><i class="fa fa-pencil-square-o"></i></span>-->
<!--		                            </button>-->
<!--	                            </th>-->
	                            <td>{{controller.getActionCode(controller.set.liftActions)}}</td>&nbsp;&nbsp;
                            </tr>

                            <tr ng-if="controller.isInterventionCompsBlock()">
                                <th>
                                    {{ 'UI_NETWORK_ADMIN.RESTRICTIONS.LABELS.PLAYER_EXCLUDE' | translate }} &nbsp;
                                    <button ng-click="controller.updateRestrictionTag()">
                                    <span><i class="fa fa-pencil-square-o"></i></span>
                                    </button>
                                </th>
                                <td ng-bind-html="controller.renderExcludeTag()"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="well-clear">
                    <div ng-if="controller.set.restrictions.length > 0" class="col-xs-12 table-responsive">
                        <table class="table table-hover table-striped nowrap" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th style="width: 25%;">{{'UI_NETWORK_ADMIN.RESTRICTIONS.FIELDS.RESTRICTION.RESTRICTION.NAME'|translate}}</th>
                                <th>{{'UI_NETWORK_ADMIN.RESTRICTIONS.FIELDS.RESTRICTION.ENABLED.NAME'|translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="restriction in controller.set.restrictions track by $index">
                                <td>{{restriction.restriction.name + " (" + restriction.restriction.code + ")"}}</td>
                                <td><span class="label" ng-class="{'label-success': restriction.enabled === true, 'label-danger': restriction.enabled === false }">{{(restriction.enabled) ? 'ENABLED' : 'DISABLED'}}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="controller.set.restrictions.length === 0">
                        <div class="col-xs-12">
                            <b>{{'UI_NETWORK_ADMIN.RESTRICTIONS.NORESTRICTIONSSETUPYET'|translate}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row v-reset-row ">
        <div class="col-xs-12">
            <changelog options="controller.changelogs"></changelog>
        </div>
    </div>
</div>
