<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>
</head>

<body style="font-family: 'Roboto', sans-serif;" class="grey lighten-3">
<div id="main" style="width: 100vw; height: 100vh; display: flex; flex-direction: column; justify-content: space-between; align-items: center;">

	<div></div>

	<div class="container">

		<div id="viewIframe" style="display: flex; flex-direction: column; align-items: center;">
			<div id="loading" style="display: flex; flex-direction: column; align-items: center">
				<span><i class="fa fa-exclamation-triangle" style="font-size:96px"></i></span>
				<p style="font-size:36px;">Failed</p>
			</div>
		</div>
	</div>
	<div></div>

</div>
</body>
</html>
