<div class="tab-content" style="padding: 5px;">
	<div class="well-clear" style="margin-bottom: 0px;">
		<div class="row v-reset-row ">
			<div class="col-xs-12 col-md-6 pull-left">
				<button-add ng-click="controller.addTemplate()"></button-add>
			</div>
		</div>
		<hr/><br/>
		<div class="row v-reset-row ">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-body no-padding table-responsive">
						<dt table="controller.table"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>