<div class="tab-content" style="padding: 5px;">
	<div class="well-clear" style="margin-bottom: 0px;">
		<div class="row v-reset-row ">
			<div class="col-xs-12 col-md-6 pull-left">
				<button-back ui-sref="^.list"></button-back>
				<button-edit ui-sref="dashboard.mail.config.templates.edit({ id: controller.model.id })"></button-edit>
				<button-custom btype="button" ng-click="controller.test()" bclass="default" icon="envelope-o" text="Test this template"></button-custom>
			</div>
		</div>
		<hr/>
		<div class="callout callout-info" ng-if="controller.model.edit != null">
			<span>Edit started on {{ controller.model.editStartedOn | datetimedefault }} by {{ controller.model.editBy.guid }}. Click modify to continue editing the template, commit all changes, or cancel the edit.</span>
		</div>
		<div class="row v-reset-row ">
			<div class="col-xs-12">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Template Details</h3>
					</div>
					<div class="box-body table-responsive">
						<table class="table table-hover table-striped nowrap" cellspacing="0" width="100%">
							<tr>
								<th>{{'UI_NETWORK_ADMIN.MAIL.TEMPLATES.FIELDS.NAME.NAME'|translate}}</th>
								<td>{{controller.model.name}}</td>
							</tr>
							<tr>
								<th>{{'UI_NETWORK_ADMIN.MAIL.TEMPLATES.FIELDS.LANG.NAME'|translate}}</th>
								<td>{{controller.model.lang}}</td>
							</tr>
							<tr>
								<th>{{'UI_NETWORK_ADMIN.MAIL.TEMPLATES.FIELDS.USER_OPEN_STATUS_ONLY.NAME'|translate}}</th>
								<td>{{controller.model.userOpenStatusOnly}}</td>
							</tr>
							<tr>
								<th>{{'UI_NETWORK_ADMIN.MAIL.TEMPLATES.FIELDS.SUBJECT.NAME'|translate}}</th>
								<td>{{controller.model.current.subject}}</td>
							</tr>
                            <tr>
                                <th>{{'UI_NETWORK_ADMIN.MAIL.TEMPLATES.FIELDS.FROM.NAME'|translate}}</th>
                                <td>{{controller.model.current.emailFrom}}</td>
                            </tr>
							<tr>
								<th>{{'UI_NETWORK_ADMIN.MAIL.TEMPLATES.FIELDS.ENABLED.NAME'|translate}}</th>
								<td>{{controller.model.enabled}}</td>
							</tr>
							<tr>
								<th>{{'UI_NETWORK_ADMIN.MAIL.TEMPLATES.FIELDS.BODY.NAME'|translate}}</th>
								<td><div ng-bind-html="controller.model.current.body"></div></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div style="padding: 19px;">
			<div class="row v-reset-row  well">
				<changelog options="controller.changelogs" model="controller.model"></changelog>
			</div>
		</div>
	</div>
</div>