<div class="box box-{{data.box}} box-solid" bs-loading-overlay bs-loading-overlay-reference-id="{{referenceId}}">
	<div class="box-header with-border">
		{{data.title | translate}}
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" ng-click="changeBiometricsStatus()" lit-if-permission="PLAYER_BIOMETRICS_STATUS" lit-permission-domain="{{data.domainName}}">
				<span><i class="fa fa-gear"></i> {{ "GLOBAL.ACTION.CHANGE" | translate }} </span>
			</button>
		</div>
	</div>
	<div class="box-body table-responsive">
		<table class="table table-bordered">
		<tr>
			<th width="40%">{{ "UI_NETWORK_ADMIN.PLAYERS.BIOMETRICS_STATUS.STATUS.NAME" | translate }}</th>
			<td>
				<span ng-if="user.biometricsStatus === 'not_required' || user.biometricsStatus === 'passed'"   class="label label-lg label-success">{{ user.biometricsStatus | uppercase }}</span>
				<span ng-if="user.biometricsStatus === 'failed'" class="label label-lg label-danger">{{ user.biometricsStatus | uppercase }}</span>
				<span ng-if="user.biometricsStatus !== 'not_required' && user.biometricsStatus !== 'passed' && user.biometricsStatus !== 'failed'" class="label label-warning">{{user.biometricsStatus | uppercase}}</span>
			</td>
		</tr>
		</table>
		<table class="table table-bordered" ng-if="data.showHistory">
		<tr>
			<th colspan="2">Status History</th>
		</tr><tr>
			<td colspan="2">
				&nbsp;
			</td>
		</tr>
		</table>
	</div>
</div>