<!DOCTYPE html>
<html>

<head>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>
</head>

<body style="font-family: 'Roboto', sans-serif;">
<div id="main" style="width: 100vw; height: 100vh; display: flex; justify-content: space-between; align-items: center;">
	<div></div>
	<div>
		<div id="loading" style="display: flex; flex-direction: column; align-items: center">
			<p>Your transaction is complete. Please close this window.</p>
			<span><i class="fa fa-times-circle fa-pulse" style="font-size:24px"></i></span>
		</div>
	</div>
	<div></div>
</div>
<script>
	window.onload = function () {
		var sameWindow = window.open(location, '_self', ''); //open the current window
		sameWindow.close();
	};
</script>
</body>
</html>
