<form (ngSubmit)="save()" #form="ngForm" style="position: relative">
	<md-toolbar>
		<span>Change Password</span>
		<span fxFlex></span>
		<button type="submit" md-icon-button mdTooltip="save" mdTooltipPosition="below"><md-icon>save</md-icon></button>
		<button type="button" md-icon-button mdTooltip="close" mdTooltipPosition="below" (click)="close()"><md-icon>close</md-icon></button>
	</md-toolbar>
	<span fxFlex></span>
	<p *ngIf="errorMessage">
		<md-card class="error-card" fxLayout="row" fxLayoutAlign="start center">
			<md-icon class="error-icon" color="warn">warning</md-icon>
			<md-card-content class="error-message">{{ errorMessage }}</md-card-content>
		</md-card>
	</p>
	<div fxLayout="column" fxLayout.gt-md="row">
		<md-input-container fxFlex>
			<input mdInput placeholder="New Password" type="password" name="newPassword" [(ngModel)]="model.newPassword" #newPassword="ngModel" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}$">
			<md-formfield-errors [field]="newPassword"></md-formfield-errors>
		</md-input-container>
		<md-input-container fxFlex>
			<input mdInput placeholder="Repeat New Password" type="password" name="repeatNewPassword" [(ngModel)]="model.repeatNewPassword" #repeatNewPassword="ngModel" required [equalTo]="newPassword">
			<md-formfield-errors [field]="repeatNewPassword"></md-formfield-errors>
		</md-input-container>
	</div>
</form>
