<div class="row v-reset-row">
    <div class="row v-reset-row">
        <div class="box box-primary box-widget col-xs-12">
            <div class="box-body box-profile">
                <formly-form model="model" fields="fields" form="form" options="options">
                </formly-form>
                <div class="col-xs-12">
                    <div class="flex-row pull-right">
                        <button-clear type="submit" ng-click="resetFilter()"></button-clear>
                        <button-filter type="submit" ng-click="applyFilter()"></button-filter>
                    </div>
                </div>
                <dt class="table table-sm table-responsive" table="sportsFreeBetTable"/>
            </div>
        </div>
    </div>
</div>
