<div class="container-fluid">
    <div class="row v-reset-row ">
        <div class="box box-primary box-widget col-xs-12" style="height: 100px">
            <div class="p-2 mr-auto" style="width: 50%;">
                <span class="title">{{ 'UI_NETWORK_ADMIN.ACTIVE_BONUS.PAGE.TITLE.HEADING' | translate }}</span>
                <span class="description">{{ 'UI_NETWORK_ADMIN.ACTIVE_BONUS.PAGE.TITLE.DESCRIPTION' | translate }}</span>
            </div>
        </div>
    </div>
    <div class="row v-reset-row ">
        <div class="box box-primary box-widget col-xs-12">
            <div class="box-body box-profile">
                <formly-form model="model" fields="fields" form="form" options="options">
                </formly-form>
                <div class="col-xs-12">
                    <div class="flex-row pull-right">
                        <button-clear type="submit" ng-click="resetFilter()"></button-clear>
                        <button-filter type="submit" ng-click="applyFilter()"></button-filter>
                    </div>
                </div>
                <dt class="table table-sm table-responsive" table="activeBonusesTable"/>
            </div>
        </div>
    </div>
</div>