<div></div>
<div class="forgot mat-elevation-z24">
	<div class="forgot-header mtex-bc-primary-800" fxLayout="column" fxLayoutAlign="center center">
		 <h1>{{ domainGuard.domain.displayName }}</h1>
     	 <img src="assets/logo.png">
	</div>
	<form #form="ngForm" (ngSubmit)="step2()" style="position: relative">
		<loading-overlay [isLoading]="isLoading"></loading-overlay>
		<div class="forgot-content" fxLayout="column" fxLayoutAlign="start stretch">
			<p *ngIf="errorMessage">
				<md-card class="error-card" fxLayout="row" fxLayoutAlign="start center">
					<md-icon class="error-icon" color="warn">warning</md-icon>
					<md-card-content class="error-message">{{ errorMessage }}</md-card-content>
				</md-card>
			</p>
			<md-input-container> <input mdInput placeholder="New Password" type="password" name="password" required [(ngModel)]="password"> </md-input-container>
			<button color="primary" md-raised-button [disabled]="!form.valid">Change Password</button>
			<p class="note"><a [routerLink]="[ '..', 'login' ]">Back to login</a></p>
		</div>
	</form>
</div>
<div></div>