<div class="row v-reset-row ">
  <div class="error-page">
    <h1 class="headline text-red">414</h1>
    <div class="error-content">
      <h3>
        <i class="fa fa-warning text-red"></i> Yep, the user is definitely not here...
      </h3>
      <p>
        User you are trying to view has been deleted and may no longer be viewed... Why ?? <br/><br/>
        Due to iOS guidelines Player Media Accounts can be deleted by the player from the Front End <br/>
        But this is where we're at, and you have two choices : <br/>
        <a ui-sref="dashboard.home">Return to dashboard</a> (and try to navigate to the intended page)
        <br/><div align="center"><i>or</i></div><br/>
      the second, <small>lesser preferred option</small>, if the account is expected to be not Deleted
      (meaning it's definitely something has gone wrong, and we do apologise for the inconvenience caused)
      ... <br/>contact the administrator.
      </p>
    </div>
  </div>
</div>