<div ng-message="required">{{ "GLOBAL.VALIDATION.REQUIRED" | translate }}</div>
<div ng-message="minlength">{{ "GLOBAL.VALIDATION.MINLENGTH" | translate }}</div>
<div ng-message="maxlength">{{ "GLOBAL.VALIDATION.MAXLENGTH" | translate }}</div>
<div ng-message="min">{{ "GLOBAL.VALIDATION.MIN" | translate }}</div>
<div ng-message="max">{{ "GLOBAL.VALIDATION.MAX" | translate }}</div>
<div ng-message="email">{{ "GLOBAL.VALIDATION.EMAIL" | translate }}</div>
<div ng-message="url">{{ "GLOBAL.VALIDATION.URL" | translate }}</div>

<!-- Added for file-upload stuff -->
<div ng-message="minsize">{{ "GLOBAL.VALIDATION.FILE.MINSIZE" | translate }}</div>
<div ng-message="maxsize">{{ "GLOBAL.VALIDATION.FILE.MAXSIZE" | translate }}</div>