<div class="container-fluid">
	<div class="box box-primary box-widget">
		<div class="box-body box-profile">
			<div class="user-block">
				<div class="pull-right">
					<span ng-if="controller.bonus.current.bonusType == 0" style="line-height:inherit;" class="label label-warning">{{ 'GLOBAL.BONUS.TYPE.0' | translate | uppercase }}</span>
					<span ng-if="controller.bonus.current.bonusType == 1" style="line-height:inherit;" class="label label-success">{{ 'GLOBAL.BONUS.TYPE.1' | translate | uppercase }}</span>
					<span ng-if="controller.bonus.current.bonusType == 2" style="line-height:inherit;" class="label label-primary">{{ 'GLOBAL.BONUS.TYPE.3' | translate | uppercase }}</span>
					<span ng-if="controller.bonus.current.bonusType == 3" style="line-height:inherit;" class="label label-primary">{{ 'GLOBAL.BONUS.TYPE.2' | translate | uppercase }}</span>
					<span ng-if="!controller.bonus.current && controller.bonus.edit.bonusType == 0" style="line-height:inherit;" class="label label-warning">{{ 'GLOBAL.BONUS.TYPE.0' | translate | uppercase }}</span>
					<span ng-if="!controller.bonus.current && controller.bonus.edit.bonusType == 1" style="line-height:inherit;" class="label label-success">{{ 'GLOBAL.BONUS.TYPE.1' | translate | uppercase }}</span>
					<span ng-if="!controller.bonus.current && controller.bonus.edit.bonusType == 2" style="line-height:inherit;" class="label label-primary">{{ 'GLOBAL.BONUS.TYPE.2' | translate | uppercase }}</span>
					<span ng-if="!controller.bonus.current && controller.bonus.edit.bonusType == 3" style="line-height:inherit;" class="label label-primary">{{ 'GLOBAL.BONUS.TYPE.3' | translate | uppercase }}</span>
					<br/><span style="line-height:inherit;" class="label label-primary">{{ controller.domainName | uppercase }}</span>
				</div>
				<img class="img-circle img-bordered-sm" style="margin-right: 20px;" src="//:0" alt="">
				<h4 style="font-weight: bold;">
					<a ng-if="controller.bonus.current.bonusCode" ui-sref="^">{{ controller.bonus.current.bonusName }} ({{ controller.bonus.current.bonusCode }})</a>
					<a ng-if="!controller.bonus.current.bonusCode" ui-sref="^">{{ controller.bonus.current.bonusName }}</a>
					<a ng-if="!controller.bonus.current.bonusCode && controller.bonus.edit.bonusCode" ui-sref="^">{{ controller.bonus.edit.bonusName }} ({{ controller.bonus.edit.bonusCode }})</a>
					<a ng-if="!controller.bonus.current.bonusCode && !controller.bonus.edit.bonusCode" ui-sref="^">{{ controller.bonus.edit.bonusName }}</a>
				</h4>
			</div>
		</div>
	</div>
	<div class="row v-reset-row ">
		<div class="col-xs-12">
			<button-bar>
				<button-back ui-sref="dashboard.bonuses"></button-back>
				<button-edit lit-if-domains-permission="BONUS_EDIT" ng-click="controller.modify()"></button-edit>
				<button-disable lit-if-domains-permission="BONUS_EDIT" ng-if="controller.bonus.current.enabled === true" ng-click="controller.enable(false)"></button-disable>
				<button-enable lit-if-domains-permission="BONUS_EDIT" ng-if="controller.bonus.current.enabled === false" ng-click="controller.enable(true)"></button-enable>
			</button-bar>
		</div>
	</div>
	<div class="row v-reset-row ">
		<div class="col-xs-12">
			<div class="nav-tabs-custom" style="margin-bottom: 5px;">
				<ul class="nav nav-tabs">
					<li role="presentation" ng-class="{ active: ($state.current.name.toLowerCase().indexOf(tab.name) === 0) }" ng-repeat="tab in controller.tabs" lit-if-permission="{{tab.roles}}" class="{{tab.tclass}}">
						<a ng-click="controller.setTab(tab)">{{ tab.title | translate }}</a>
					</li>
				</ul>
				<div class="tab-content" style="padding: 0px;padding-top: 1px;">
					<div ui-view></div>
				</div>
			</div>
		</div>
	</div>
</div>
