<div class="modal-body" bs-loading-overlay bs-loading-overlay-reference-id="{{controller.referenceId}}">
    <h3 class="text-center">{{'UI_NETWORK_ADMIN.PLAYER.EXCESSIVE_FAILED_LOGIN_BLOCK_UPDATE' | translate}}</h3>
</div>

<div class="modal-footer">
    <div class="row v-reset-row ">
        <div class="col-xs-6 text-center">
            <button-custom icon="pencil-square-o" text="GLOBAL.ACTION.MODIFY" bclass="info" ng-click="controller.submit()">
            </button-custom>
        </div>
        <div class="col-xs-6 text-center">
            <button-custom icon="ban" text="GLOBAL.ACTION.CANCEL" bclass="default" ng-click="controller.cancel()"></button-custom>
        </div>
    </div>
</div>
