<form ng-submit="controller.onSubmit()" name="controller.form" novalidate>
	<div class="row v-reset-row ">
		<div class="box-body">
			<formly-form model="controller.model" fields="controller.fields" form="controller.form" options="controller.options">
			</formly-form>
			<div class="col-xs-12">
				<buttonbar>
					<button-edit lit-if-permission="DOMAIN_EDIT" lit-permission-domain="{{domain.name}}" ng-click="controller.onEdit()" ng-show="controller.options.formState.readOnly"></button-edit>
					<button-submit ng-show="!controller.options.formState.readOnly"></button-submit>
					<button-cancel ng-show="!controller.options.formState.readOnly" ng-click="controller.onCancel()"></button-cancel>
				</buttonbar>
			</div>
		</div>
	</div>
<!-- 	<div class="row v-reset-row "> -->
<!-- 		<div class="col-xs-12"> -->
<!-- 			<button-edit lit-if-permission="DOMAIN_EDIT" lit-permission-domain="{{domain.name}}" ng-click="controller.edit()" ng-show="controller.options.formState.readOnly"></button-edit> -->
<!-- 			<button-submit ng-show="!controller.options.formState.readOnly"></button-submit> -->
<!-- 			<button-cancel ng-show="!controller.options.formState.readOnly" ng-click="controller.cancel()"></button-cancel> -->
<!-- 		</div> -->
<!-- 	</div> -->
	<div style="padding: 19px;">
		<div class="row v-reset-row  well">
			<changelog options="controller.changelogs" model="controller.model"></changelog>
		</div>
	</div>
</form>
