<mtex-layout-page>

  <div *mtexLayoutToolbarPrimaryStart>
    <h3>New Title
    </h3>
  </div>

  <div *mtexLayoutToolbarSecondaryStart>
    <h3>New Title
    </h3>
  </div>

  <md-card>
    <md-card-content>
      <md-list>
        <md-list-item><md-checkbox> Pepper </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Salt </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Paprika </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Pepper </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Salt </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Paprika </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Pepper </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Salt </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Paprika </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Pepper </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Salt </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Paprika </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Pepper </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Salt </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Paprika </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Pepper </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Salt </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Paprika </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Pepper </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Salt </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Paprika </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Pepper </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Salt </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Paprika </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Pepper </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Salt </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Paprika </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Pepper </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Salt </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Paprika </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Pepper </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Salt </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Paprika </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Pepper </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Salt </md-checkbox></md-list-item>
        <md-list-item><md-checkbox> Paprika </md-checkbox></md-list-item>
      </md-list>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button [routerLink]="['..']">Ok</button>
      <button md-button [routerLink]="['..']">Cancel</button>
    </md-card-actions>
  </md-card>
</mtex-layout-page>
