<div class="container-fluid">
    <div class="box box-primary box-widget">
        <div class="box-body box-profile">
            <div class="user-block">
                <h4 style="font-weight: bold;">
                    Win Distribution: ({{controller.winDistribution.id}})<br/>
                </h4>
            </div>
        </div>
    </div>

    <buttonbar>
        <button-back ui-sref="dashboard.gogamegames.windistributions"></button-back>
        <button-download-excel ng-if="controller.winDistribution.processingCompleted !== null" ng-click="controller.downloadxls()"></button-download-excel>
        <button-refresh ng-click="controller.refresh()"></button-refresh>
    </buttonbar>

    <br/><br/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-line-chart"></i> Win Distribution Information
        </div>
        <div class="panel-body">
            <div class="row v-reset-row ">
                <div class="col-lg-6">
                    <table class="table table-hover table-striped nowrap" cellspacing="0" width="100%">
                        <tbody>
                        <tr>
                            <th style="width: 40%;">Created</th>
                            <td>{{controller.winDistribution.created|datetimedefault}}</td>
                        </tr><tr>
                            <th>Processing</th>
                            <td>{{controller.winDistribution.processing}}</td>
                        </tr><tr>
                            <th>Processing Started</th>
                            <td>{{controller.winDistribution.processingStarted|datetimedefault}}</td>
                        </tr><tr>
                            <th>Processing Completed</th>
                            <td>{{controller.winDistribution.processingCompleted|datetimedefault}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-lg-6">
                    <table class="table table-hover table-striped nowrap" cellspacing="0" width="100%">
                        <tbody>
                        <tr>
                            <th style="width: 40%;">Ledger</th>
                            <td>({{controller.winDistribution.ledger.id}}) {{controller.winDistribution.ledger.name}}</td>
                        </tr><tr>
                            <th>Currency</th>
                            <td>{{controller.winDistribution.ledger.currencyCode}}</td>
                        </tr><tr>
                            <th>Total Play</th>
                            <td>{{controller.winDistribution.ledger.totalPlay|currency}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-exclamation-triangle"></i> Win Distribution Errors
        </div>
        <div class="panel-body">
            <div class="row v-reset-row ">
                <div class="col-lg-12">
                    <table class="table table-hover table-striped nowrap" cellspacing="0" width="100%">
                        <tbody>
                        <tr>
                            <th style="width: 20%;">Failed</th>
                            <td>{{controller.winDistribution.failed}}</td>
                        </tr><tr>
                            <th>Failure Reason</th>
                            <td>{{controller.winDistribution.failureReason}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Win Distribution Graph
        </div>
        <div class="panel-body">
            <div class="row v-reset-row ">
                <div class="col-lg-12">
                    <c3chart bindto-id="windistribution" show-labels="false" show-subchart="true" enable-zoom="true">
                        <chart-column column-id="x"
                                      column-values="{{controller.winDistributionData.xColumnValues}}"/>
                        <chart-column column-id="rtp"
                                      column-name="RTP Win Dist."
                                      column-color="green"
                                      column-values="{{controller.winDistributionData.xDataPoints}}"
                                      column-type="line"/>
                        <chart-axes values-x="x" />
                        <chart-axis>
                            <chart-axis-x axis-position="outer-center"
                                          axis-type="category">
                            </chart-axis-x>
                            <chart-axis-y axis-id="y"
                                          axis-position="outer-right"
                                          axis-label="RTP"
                                          padding-top="100"
                                          padding-bottom="0"
                                          range-min="0"/>
                        </chart-axis>
                        <chart-grid show-x="false" show-y="true"/>
                        <chart-legend show-legend="true" legend-position="right"/>
                    </c3chart>
                </div>
            </div>
        </div>
    </div>

<!--    <pre>{{controller.winDistributionBuckets|json}}</pre>-->
</div>