:host {
  position: absolute;
  top: 0;
  left: 0;
  min-height: calc(100vh - 2px);
  max-height: calc(100vh - 2px);
  min-width: calc(100vw - 2px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}

.forgot {
  background: white;
  margin: 20px;
  max-width: 600px;

  .forgot-header {
    padding: 24px;
    color: #eee;
  }

  .forgot-content {
    padding: 24px 42px 42px;

    md-input-container {
      width: 100%;
      margin: 6px 0 18px;
    }

    a {
      text-decoration: none;
      color: #2196F3;

      &:hover {
        text-decoration: underline;
      }
    }

    .note {
      color: #777;
      margin: 24px 0 0;
      text-align: center;
    }
  }
}
