<div class="container-fluid" bs-loading-overlay bs-loading-overlay-reference-id="loading">
    <div class="card card-block" style="margin-bottom: 10px;" ng-init="">
        <div class="d-flex justify-content-start">
            <div class="p-2 mr-auto">
                <span class="title">{{'UI_NETWORK_ADMIN.CASHIER.AUTOWITHDRAWALS.RULESETS.EDIT.TITLE'|translate}}</span>
                <span class="description">({{controller.ruleset.id}} - {{controller.ruleset.name}})</span> <br/>
                <span class="label" ng-class="{'label-success': controller.ruleset.enabled === true, 'label-danger': controller.ruleset.enabled === false }">{{(controller.ruleset.enabled) ? 'ENABLED' : 'DISABLED'}}</span>
            </div>
        </div>
    </div>
    <br/>
    <form ng-submit="controller.onSubmit()" name="controller.form" autocomplete="off" novalidate>
        <buttonbar>
            <button-back ui-sref="dashboard.cashier.autowithdrawals.rulesets.view({id: controller.ruleset.id})"></button-back>
            <button-disable lit-if-permission="AUTOWITHDRAWALS_RULESETS_EDIT" lit-permission-domain="{{controller.ruleset.domain.name}}" ng-if="controller.ruleset.enabled" click-confirm="{{'UI_NETWORK_ADMIN.CASHIER.AUTOWITHDRAWALS.RULESETS.EDIT.DISABLE.CONFIRM'|translate}}"  click-confirmed="controller.toggleEnabled()"></button-disable>
            <button-enable lit-if-permission="AUTOWITHDRAWALS_RULESETS_EDIT" lit-permission-domain="{{controller.ruleset.domain.name}}" ng-if="!controller.ruleset.enabled" click-confirm="{{'UI_NETWORK_ADMIN.CASHIER.AUTOWITHDRAWALS.RULESETS.EDIT.ENABLE.CONFIRM'|translate}}"  click-confirmed="controller.toggleEnabled()"></button-enable>
            <button-delete lit-if-permission="AUTOWITHDRAWALS_RULESETS_DELETE" lit-permission-domain="{{controller.ruleset.domain.name}}" click-confirm="{{'UI_NETWORK_ADMIN.CASHIER.AUTOWITHDRAWALS.RULESETS.EDIT.DELETE.CONFIRM'|translate}}"  click-confirmed="controller.delete()"></button-delete>
        </buttonbar>
        <br/><br/>
        <div class="row v-reset-row ">
            <div class="col-xs-12">
                <div class="card card-block">
                    <div class="well-clear">
                        <div class="col-xs-12 table-responsive">
                            <table class="table table-hover nowrap" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <th style="width: 25%;">{{'UI_NETWORK_ADMIN.CASHIER.AUTOWITHDRAWALS.RULESETS.FIELDS.NAME.NAME'|translate}}</th>
                                    <td>{{controller.ruleset.name}} &nbsp; <a ng-click="controller.editName()">{{'GLOBAL.ACTION.CHANGE'|translate}}</a></td>
                                </tr><tr>
                                    <th>{{'UI_NETWORK_ADMIN.CASHIER.AUTOWITHDRAWALS.RULESETS.FIELDS.DOMAIN.NAME'|translate}}</th>
                                    <td>{{controller.ruleset.domain.name}}</td>
                                </tr><tr>
                                    <th>{{'UI_NETWORK_ADMIN.CASHIER.AUTOWITHDRAWALS.RULESETS.FIELDS.ENABLED.NAME'|translate}}</th>
                                    <td>{{controller.ruleset.enabled}}</td>
                                </tr><tr>
                                    <th>{{'UI_NETWORK_ADMIN.CASHIER.AUTOWITHDRAWALS.RULESETS.FIELDS.LASTUPDATED.NAME'|translate}}</th>
                                    <td>{{controller.ruleset.lastUpdated|datetimedefault}}</td>
                                </tr><tr>
                                    <th>{{'UI_NETWORK_ADMIN.CASHIER.AUTOWITHDRAWALS.RULESETS.FIELDS.LASTUPDATEDBY.NAME'|translate}}</th>
                                    <td>{{controller.ruleset.lastUpdatedBy}}</td>
                                </tr></tr>
	                                <th>{{'UI_NETWORK_ADMIN.CASHIER.AUTOWITHDRAWALS.RULESETS.FIELDS.DELAYED_START.NAME'|translate}}</th>
	                                <td>{{controller.ruleset.delayedStart}} &nbsp; <a ng-click="controller.editDelay()">{{'GLOBAL.ACTION.CHANGE'|translate}}</a></td>
                                </tr><tr ng-if="controller.ruleset.delayedStart === true">
                                    <th>{{'UI_NETWORK_ADMIN.CASHIER.AUTOWITHDRAWALS.RULESETS.FIELDS.DELAY.NAME'|translate}}</th>
                                    <td>{{controller.ruleset.delay}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="well-clear">
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" ng-click="controller.addRule()">
                                <span><i class="fa fa-plus"></i>{{'GLOBAL.ACTION.ADD'|translate}}</span>
                            </button>
                        </div>
                        <hr style="margin-top: 40px;"/>
                        <div ng-if="controller.ruleset.rules.length > 0" class="col-xs-12 table-responsive">
                            <table class="table table-hover table-striped nowrap" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>{{'UI_NETWORK_ADMIN.CASHIER.AUTOWITHDRAWALS.RULESETS.RULE.FIELDS.FIELD.NAME'|translate}}</th>
                                    <th>{{'UI_NETWORK_ADMIN.CASHIER.AUTOWITHDRAWALS.RULESETS.RULE.FIELDS.OPERATOR.NAME'|translate}}</th>
                                    <th>{{'UI_NETWORK_ADMIN.CASHIER.AUTOWITHDRAWALS.RULESETS.RULE.FIELDS.VALUE.NAME'|translate}}</th>
                                    <th>{{'UI_NETWORK_ADMIN.CASHIER.AUTOWITHDRAWALS.RULESETS.RULE.FIELDS.ENABLED.NAME'|translate}}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="rule in controller.ruleset.rules track by $index">
                                    <td style="width: 25%;">{{controller.getFieldName(rule.field)}}</td>
                                    <td style="width: 25%;">{{controller.getOperatorName(rule)}}</td>
                                    <td style="width: 25%;">{{controller.getValue(rule)}}</td>
                                    <td style="width: 15%;"><span class="label" ng-class="{'label-success': rule.enabled === true, 'label-danger': rule.enabled === false }">{{(rule.enabled) ? 'ENABLED' : 'DISABLED'}}</span></td>
                                    <td style="width: 10%;">
                                        <a ng-click="controller.modifyRule($index)">
                                            <span class="badge bg-blue"><i class="fa fa-cog"></i></span>
                                        </a>
                                        &nbsp;
                                        <a click-confirm="{{'UI_NETWORK_ADMIN.CASHIER.AUTOWITHDRAWALS.RULESETS.EDIT.DELETERULE.CONFIRM'|translate}}" click-confirmed="controller.deleteRule(rule.id)">
                                            <span class="badge bg-red"><i class="fa fa-times"></i></span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="controller.ruleset.rules.length === 0">
                            <div class="col-xs-12">
                                <b>{{'UI_NETWORK_ADMIN.CASHIER.AUTOWITHDRAWALS.RULESETS.NORULESSETUPYET'|translate}}</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
