<div class="modal-content">
	<div class="modal-header primary-blue darken-4 white-text">
		<h3 class="modal-title" id="modal-title">
			<i class="fa fa-users"></i>
			{{ 'UI_NETWORK_ADMIN.CASHIER.PROFILES.ADDUSER.TITLE' | translate }}
			<button-close-window ng-click="controller.cancel()"></button-close-window>
		</h3>
	</div>
	
	<form ng-submit="controller.onSubmit()" name="controller.form" autocomplete="off" novalidate>
		<div class="modal-body" id="modal-body">
			<div class="row v-reset-row ">
				<div class="col-xs-12">
					<div class="card-block text-center">
						<span class="legend-profile">
							{{controller.profile.code}} - {{controller.profile.name}}<br/>
							<span class="description">{{controller.profile.description}}</span>
						</span>
					</div>
				</div>
			</div>
			<div class="row v-reset-row ">
				<div class="col-xs-12">
					<div class="form-group card-content">
					<label>{{ 'UI_NETWORK_ADMIN.CASHIER.PROFILES.ADDUSER.SEARCHTITLE' | translate }}</label>
					<fieldset ng-disabled="{{to.disabled}}">
						<div class="input-group">
							<input type="text"
								ng-model="controller.selectedUsername"
								placeholder="search player"
								uib-typeahead="user.username for user in controller.searchUsers($viewValue)"
								typeahead-loading="loadingLocations"
								typeahead-no-results="noResults"
								typeahead-min-length="2"
								typeahead-show-hint="true"
								typeahead-wait-ms="500"
								typeahead-editable="false"
								typeahead-on-select="controller.selectUser($item)"
								class="form-control"/>
							<div class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="resetTypeAhead()"><i class="fa fa-remove"></i></button>
							</div>
						</div>
						<div ng-show="loadingLocations" class="overlay">
							<i class="fa fa-refresh fa-spin"></i>
						</div>
						<div ng-show="noResults" class="form-group has-error">
							<span class="help-block"><i class="fa fa-remove"></i>&nbsp;No Results Found</span>
						</div>
					</fieldset>
				</div>
				</div>
			</div>
			<div class="row v-reset-row " ng-if="controller.showAnotherProfileWarning === true">
				<div class="card-danger-shadow">
					<div class="card card-block">
						<span class="description" align="center">
							{{ 'UI_NETWORK_ADMIN.CASHIER.PROFILES.ADDUSER.SHOWANOTHERPROFILEWARNING' | translate }}<br/>
							<span class="legend-profile">
								{{controller.otherProfile.code}} - {{controller.otherProfile.name}}<br/>
								<span class="description">{{controller.otherProfile.description}}</span>
							</span>
						</span>
					</div>
				</div>
			</div>
			<div class="row v-reset-row " ng-if="controller.inThisProfile === true">
				<div class="card-danger-shadow">
					<div class="card card-block">
						<span class="description" align="center">
							{{ 'UI_NETWORK_ADMIN.CASHIER.PROFILES.ADDUSER.INTHISPROFILE' | translate }}
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<buttonbar>
				<button-custom ng-disabled="controller.submitDisabled" ng-click="controller.submit()" bclass="primary pull-left submit-button" icon="floppy-o" text="GLOBAL.ACTION.SAVE"></button-custom>
				<button-cancel ng-click="controller.cancel()"></button-cancel>
			</buttonbar>
		</div>
	</form>
</div>